.footer-3-div-{
    width: 1516px;
    height: 572px;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-div-3-{
        width: 1050px;
        height: 560px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        .footer-div-3-1{
            display: flex;
            position: relative;
            gap: 70px;

            h3{
                position: absolute;
                margin-top: -40px;
                font-size: 20px;
            }
            .footer-div-3-1-1{
                width: 250px;
                height: 180px;
                a {
                    text-decoration: none ;
                    color: #cccccc;
                    line-height: 25px;
                    font-size: 16px;
                    font-weight: 500;
                    &:hover{
                        color:black
                    }
                }
            }
            .footer-div-3-1-2{
                width: 200px;
                height: 180px;
                a {
                    text-decoration: none ;
                    color: #cccccc;
                    line-height: 25px;
                    font-size: 16px;
                    font-weight: 400;
                    &:hover{
                        color:black
                    }
                }
            }
            .footer-div-3-1-3{
                width: 200px;
                height: 180px;
                a {
                    text-decoration: none ;
                    color: #cccccc;
                    line-height: 25px;
                    font-size: 16px;
                    font-weight: 500;
                    &:hover{
                        color:black
                    }
                }
            }
            .footer-div-3-1-4{
                width: 200px;
                height: 180px;
                a {
                    text-decoration: none ;
                    color: #cccccc;
                    line-height: 25px;
                    font-size: 16px;
                    font-weight: 500;
                    &:hover{
                        color:black
                    }
                }
            }
        }
    }
}